LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 1, 0, 0, 179
PRODUCTVERSION 1, 0, 0, 179
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Season's Fall Music\000"
      VALUE "FileDescription", "GitEditor: A simple syntax highlighted text editor for files.\000"
      VALUE "FileVersion", "1.0.0.179\000"
      VALUE "InternalName", "GitEditor\000"
      VALUE "LegalCopyright", "Season's Fall Music\000"
      VALUE "LegalTrademarks", "Season's Fall Music\000"
      VALUE "OriginalFilename", "GitEditor\000"
      VALUE "ProductName", "GitEditor\000"
      VALUE "ProductVersion", "1.0\000"
      VALUE "Comments", "GitEditor: A simple syntax highlighted text editor for files.\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
